//COLORS 
$color-primary: #FD595F;
$color-secondary: #005A9A;
$color-gray: #B1B1B1;

$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F2F2F2;
$tertiary-bg-color: #EBEBEB;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

//FONT 
$default-font-size: 1.6rem;